:root {
  /* === Coolr === */
  --grayscale-50: #fefefe;
  --grayscale-100: #f7f7fc;
  --grayscale-200: #eff0f6;
  --grayscale-300: #d9dbe9;
  --grayscale-400: #bec1d5;
  --grayscale-500: #a0a3bd;
  --grayscale-600: #6e7191;
  --grayscale-700: #4e4b66;
  --grayscale-800: #2a2a44;
  --grayscale-900: #14142b;

  --accent-blue: #007aff;
  --accent-navy: #0025e6;
  --accent-red: #ff3b30;

  --neutral-text-weak: var(--grayscale-600);
  --neutral-text-default: var(--grayscale-700);
  --neutral-text-strong: var(--grayscale-900);

  --neutral-surface-default: var(--grayscale-100);
  --neutral-surface-bold: var(--grayscale-200);
  --neutral-surface-strong: var(--grayscale-50);

  --neutral-border-strong: var(--grayscale-50);
  --neutral-border-default: var(--grayscale-300);
  --neutral-border-default-active: var(--grayscale-900);

  --brand-text-weak: var(--accent-blue);
  --brand-text-default: var(--grayscale-50);
  --brand-surface-weak: var(--grayscale-50);
  --brand-surface-default: var(--accent-blue);
  --brand-border-default: var(--accent-blue);
  --danger-text-default: var(--accent-red);
  --danger-surface-default: var(--accent-red);
  --danger-border-default: var(--accent-red);

  --palette-blue: var(--accent-blue);
  --palette-navy: var(--accent-navy);
  --palette-red: var(--accent-red);

  /* === Radius === */
  --radius-medium: 12px;
  --radius-large: 16px;

  /* === Typography === */

  --display-bold32: 700 32px/48px "Pretendard Variable";
  --display-bold20: 700 20px/32px "Pretendard Variable";
  --display-bold16: 700 16px/24px "Pretendard Variable";
  --display-bold12: 700 12px/16px "Pretendard Variable";

  --display-medium20: 500 20px/32px "Pretendard Variable";
  --display-medium16: 500 16px/24px "Pretendard Variable";
  --display-medium12: 500 12px/16px "Pretendard Variable";

  --selected-bold20: 700 20px/32px "Pretendard Variable";
  --selected-bold16: 700 16px/24px "Pretendard Variable";
  --selected-bold12: 700 12px/16px "Pretendard Variable";

  --available-medium20: 500 20px/32px "Pretendard Variable";
  --available-medium16: 500 16px/24px "Pretendard Variable";
  --available-medium12: 500 12px/16px "Pretendard Variable";
}
