.issueListContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-surface-strong);
}

.IssueContainer {
  height: 96px;
  padding: 0 54px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-border-default);
}

.mainInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.issueItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 32px;
}

.checkbox {
  width: 16px;
  height: 16px;
  background-image: url("../../assets/icons/checkBoxInitial.svg");
}

.issueDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.issueTitle {
  font: var(--available-medium20);
  color: var(--neutral-text-strong);
  cursor: pointer;
}

.issueTitle:hover {
  text-decoration: underline;
}

.issueLabel {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 24px;

  border: 1px solid var(--neutral-border-default);
  border-radius: 16px;
  font: var(--display-medium12);
  color: var(--neutral-text-weak);
}

.issueIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../../assets/icons/alertCircle.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: rgba(0, 122, 255, 1);
}

.issueMetaInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font: var(--display-medium16);
  color: var(--neutral-text-weak);
}

.userImage {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/userImage.png");
  background-size: cover;
}

.milestone {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.milestoneIcon {
  width: 16px;
  height: 16px;
  mask-image: url("../../assets/icons/milestone.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: var(--neutral-text-weak);
}
