spring:
  web:
    resources:
      static-locations: file:/home/ubuntu/app/frontend/
  profiles:
    group:
      dev:
        - application-dev
      local:
        - application-local

  sql:
    init:
      mode: always

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
